<p-table #table [value]="accumulatedTimes" (onFilter)="calculateTotalTime()">
  <ng-template pTemplate="header">
    <tr>
      <th id="start">Start</th>
      <th id="end">End</th>
      <th id="group">Group</th>
      <th id="project">Project</th>
    </tr>
    <tr>
      <th id="startTimeFilter">
        <p-columnFilter type="date" field="startTime" placeholder="Search"></p-columnFilter>
      </th>
      <th id="endTimeFilter">
        <p-columnFilter type="date" field="endTime" placeholder="Search"></p-columnFilter>
      <th id="groupFilter">
        <p-columnFilter field="groupId" [showMenu]="true" [showClearButton]="false">
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-dropdown [options]="activeGroups" [showClear]="true" (onChange)="filter($event.value?.id)"
                        optionLabel="name" appendTo="body" placeholder="Select one"></p-dropdown>
          </ng-template>
        </p-columnFilter>
      </th>
      <!---------------------------------------------------------------------------------------->

      <!---------------------------------------------------------------------------------------->

      <th id="projectFilter">
        <p-columnFilter field="projectId" [showMenu]="true" [showClearButton]="false">
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-dropdown [options]="availableProjects" [showClear]="true" (onChange)="filter($event.value?.projectId)"
                        optionLabel="name" appendTo="body" placeholder="Select one"></p-dropdown>
          </ng-template>
        </p-columnFilter>
      </th>
    </tr>
  </ng-template>

</p-table>
<div class="card my-4">
  <canvas id="MyChart">{{ chart }}</canvas>
</div>
<div class="w-full flex justify-center">
  <div class="lg:w-3/4 card text-lg grid grid-cols-7">
    <div class="text-left pl-4 col-span-2">The total worked time with the current filters is</div>
    <div class="flex text-right pr-4 items-center justify-end">{{ this.totalTime + " hours" }}</div>
    <div></div>
    <div id="filter-button" class="col-span-3" *ngIf="!onlyActiveProjectsAndGroupsShown">
      <button type="button" pButton label=" Show Only Active Projects & Groups"
               (click)="filterActiveProjects()" class="flex-col mr-2">
      </button>
    </div>
    <div id="remove-filter-button"  *ngIf="onlyActiveProjectsAndGroupsShown" class="col-span-3">
      <div></div>
      <div>
        <button type="button" pButton label="Show All Projedcts & Groups" (click)="removeOnlyActiveProjectsFilter()" class="flex-col mr-2">
      </button></div>
    </div>
    <p-tag class="text-left pl-4 col-span-2" [value]="DisplayHelper.showState | wrapFn: StateEnum.Available"
           [severity]="DisplayHelper.getStateSeverity | wrapFn: StateEnum.Available"></p-tag>
    <div class="text-right pr-4">{{ this.stateTimes.AVAILABLE }} hours</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <p-tag class="text-left pl-4 col-span-2" [value]="DisplayHelper.showState | wrapFn: StateEnum.Deepwork"
           [severity]="DisplayHelper.getStateSeverity | wrapFn: StateEnum.Deepwork"></p-tag>
    <div class="text-right pr-4">{{ this.stateTimes.DEEPWORK }} hours</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <p-tag class="text-left pl-4 col-span-2" [value]="DisplayHelper.showState | wrapFn: StateEnum.Meeting"
           [severity]="DisplayHelper.getStateSeverity | wrapFn: StateEnum.Meeting"></p-tag>
    <div class="text-right pr-4">{{ this.stateTimes.MEETING }} hours</div>

  </div>
</div>


