/.idea/
/tempera-accesspoint/tempera.egg-info/
/tempera-accesspoint/conf.yaml
/skeleton.iml
/target/

# Ignores for the platformIO project / arduino code
/tempera-station/source-code/.vscode/
/tempera-station/source-code/.pio/