<div>
  <form [formGroup]="accessPointForm" (ngSubmit)="onSubmit()">
    <div class="p-field">
      <label for="room">Room: </label>
      <p-dropdown [options]="rooms"
                  [editable]="true"
                  [filter]="true"
                  [virtualScroll]="true"
                  [virtualScrollItemSize]="38"
                  appendTo="body"
                  optionLabel="id"
                  formControlName="room"
                  placeholder="Select a Room"
                  id="room"></p-dropdown>
    </div>
    <br>
    <div class="form-group form-check">
      <input type="checkbox" id="enabled" formControlName="enabled" class="form-check-input">
      <br>
      <label class="form-check-label" for="enabled">Enabled</label>
    </div>
    <br>
    <p-button type="submit" class="btn btn-primary">Save Changes</p-button>
  </form>
</div>
