<p-toast></p-toast>
<div *ngIf="!displayEditDialog && !displayCreateDialog">
  <div class="mb-4">
    <input type="text" pInputText placeholder="Search" (input)="applyFilter($event)" class="mr-2">

    <button type="button" pButton label="Add New User" icon="pi pi-plus" (click)="createUser()" class="mr-2"></button>
  </div>

  <p-table [value]="filteredUsers" [paginator]="true" [rows]="10" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col" pSortableColumn="username">Username
          <p-sortIcon field="username"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="firstName">First Name
          <p-sortIcon field="firstName"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="lastName">Last Name
          <p-sortIcon field="lastName"></p-sortIcon>
        </th>
        <th scope="col">Roles</th>
        <th scope="col">Status</th>
        <!--  Empty headers for styling    -->
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr (click)="viewUserDetails(user.username)">
        <td>{{ user.username }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>
          <ul>
            <li *ngFor="let role of user.roles">{{ role }}</li>
          </ul>
        </td>
        <td>{{ user.enabled ? "Enabled" : "Disabled" }}</td>
        <td>
          <p-button label="Edit" (onClick)="editUser(user); $event.stopPropagation()" icon="pi pi-pencil"></p-button>
        </td>
        <td>
          <p-button label="Delete" (onClick)="deleteSelectedUser(user.username); $event.stopPropagation()"
                    icon="pi pi-trash"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog header="Edit User" [(visible)]="displayEditDialog" [modal]="true" [style]="{width: '50vw'}" [closable]="true">
  <div *ngIf="selectedUser">
    <app-user-edit [user]="selectedUser" (editCompleted)="onEditCompleted($event)"></app-user-edit>
  </div>
</p-dialog>
<p-dialog header="Create User" [(visible)]="displayCreateDialog" [modal]="true" [style]="{width: '50vw'}"
          [closable]="true">
  <app-user-create (creatComplete)="onCreateCompleted($event)"></app-user-create>
</p-dialog>


