<!-- app.component.html -->

<div id="app">
  <nav class="navbar">
    <div class="container">
      <ul class="nav-list">
        <li class="nav-item"><a routerLink="/home">Home</a></li>
        <li class="nav-item" *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
        <li class="nav-item" *ngIf="!isLoggedIn"><a routerLink="/register">Register</a></li>
        <li class="nav-item" *ngIf="isLoggedIn"><a routerLink="/profile">Profile</a></li>
        <li class="nav-item" *ngIf="showAdminBoard"><a (click)="toggleAdminMenu()">Admin</a>
          <ul *ngIf="showAdminMenu" class="dropdown-menu">
            <li class="nav-subitem"><a routerLink="/admin">Admin Test</a></li>
            <li class="nav-subitem"><a routerLink="/admin/page1">Users Management</a></li>
            <li class="nav-subitem"><a routerLink="/admin/page2">Room Management</a></li>
            <li class="nav-subitem"><a routerLink="/admin/page2">TS Management</a></li>
            <li class="nav-subitem"><a routerLink="/admin/page2">Room Management</a></li>
          </ul>
        <li class="nav-item" *ngIf="showModeratorBoard"><a routerLink="/mod">Manager Board</a></li>
        <li class="nav-item" *ngIf="isLoggedIn"><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
