<!-- app.component.html -->

<div id="app">
  <nav class="navbar">
    <div class="container">
      <ul class="nav-list">
        <li class="nav-item"><a routerLink="/home">Home</a></li>
        <li class="nav-item" *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
        <li class="nav-item" *ngIf="!isLoggedIn"><a routerLink="/register">Register</a></li>
        <li class="nav-item" *ngIf="isLoggedIn"><a routerLink="/profile">Profile</a></li>
        <li class="nav-item" *ngIf="showAdminBoard"><a routerLink="/admin">Admin Board</a></li>
        <li class="nav-item" *ngIf="showModeratorBoard"><a routerLink="/mod">Manager Board</a></li>
        <li class="nav-item" *ngIf="isLoggedIn"><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
