<svg width="400" height="600">
  <g *ngFor="let room of rooms; let i = index">
    <rect [attr.x]="room.x + 100" [attr.y]="room.y + 50" width="100" height="100"
          [attr.fill]="room.fillColor" (click)="viewDetails(i)" stroke="#000" stroke-width="2" />
    <text [attr.x]="room.x + 130" [attr.y]="room.y + 100">{{room.roomId}} </text>
  </g>
  <g *ngFor="let door of doors">
    <rect [attr.x]="door.x + 100" [attr.y]="door.y + 50" width="10" height="20"
          fill="#667EEA " stroke="#000" stroke-width="2" />
  </g>
</svg>

