<div *ngIf="user">
<p-card header="User Details" class="user-details-card">
  <div class="user-info">
    <div><b>Username:</b> {{user.username}}</div>
    <div><b>Firstname:</b> {{user.firstName}}</div>
    <div><b>Lastname:</b> {{user.lastName}}</div>
    <div><b>Email:</b> {{user.email}}</div>
    <br>
    <div>
      <b>Roles:</b>
      <ul>
        <li *ngFor="let role of user.roles">{{role}}</li>
      </ul>
    </div>
    <br>
    <p><b>Active:</b> {{user.enabled}}</p>
  </div>
</p-card>
</div>
