<div *ngIf="temperaStation">
  <form [formGroup]="temperaForm" (ngSubmit)="onSubmit()">
    <div class="p-field">
      <label for="user">User: </label>
      <p-dropdown [options]="users "
                  [editable]="true"
                  [filter]="true"
                  [virtualScroll]="true"
                  [virtualScrollItemSize]="38"
                  appendTo="body"
                  optionLabel="label"
                  formControlName="user"
                  placeholder="Select a User"
                  id="user"></p-dropdown>
    </div>
    <br>
    <div class="form-group form-check">
      <input type="checkbox" id="enabled" formControlName="enabled" class="form-check-input">
      <br>
      <label class="form-check-label" for="enabled">Enabled</label>
    </div>
    <br>
    <p-button type="submit" label="Save"></p-button>
  </form>
</div>
