<div *ngIf="temperaStations">
  <p-messages [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>
  <div class="mb-4">
    <input type="text" pInputText placeholder="Search" (input)="applyFilter($event)" class="mr-2">
    <p-button (click)="createTemperaStation()" class="mr-2">Create Tempera Station</p-button>
  </div>
  <p-table [value]="filteredTemperaStations" [paginator]="true" [rows]="10" responsiveLayout="scroll" >
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">User</th>
        <th scope="col">Enabled</th>
        <th scope="col">Healthy</th>
        <th></th>
        <th></th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-temperaStation>
      <tr (click)="viewDetails(temperaStation)">
        <td>{{temperaStation.id}}</td>
        <td>{{temperaStation.user.username}}</td>
        <td>{{temperaStation.enabled}}</td>
        <td>{{temperaStation.isHealthy}}</td>
        <td>
          <p-button (click)="editTemperaStationDialog(temperaStation)">Edit</p-button>
        </td>
        <td>
          <p-button (click)="deleteTemperaStation(temperaStation)">Delete</p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog header="Create Tempera Station" [(visible)]="displayCreateDialog" [responsive]="true" [style]="{width: '50vw'}" [closable]="true">
  <app-tempera-station-create (onCreateCompleted)="onCreateCompleted($event)"></app-tempera-station-create>
</p-dialog>
<div *ngIf="selectedTemperaStation">
<p-dialog header="Edit Tempera Station" [(visible)]="displayEditDialog" [responsive]="true" [style]="{width: '50vw'}" [closable]="true">
  <app-tempera-station-edit [temperaStation]="selectedTemperaStation" (onEditComplete)="onEditCompleted($event)"></app-tempera-station-edit>
</p-dialog>
</div>
