<div>
    <form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
      <!-- Validator messages -->
      <div class="mb-2">
        <p-message *ngIf="groupForm.controls['name'].errors?.['required'] && groupForm.controls['name'].touched"
                   severity="error" text="Group Name is required." styleClass="mr-2"></p-message>
        <p-message *ngIf="groupForm.controls['description'].errors?.['required'] && groupForm.controls['description'].touched"
                   severity="error" text="Description is required." styleClass="mr-2"></p-message>
        <p-message *ngIf="groupForm.controls['groupLead'].errors?.['required'] && groupForm.controls['groupLead'].touched"
                   severity="error" text="Group Lead is required." styleClass="mr-2"></p-message>
      </div>
        <div class="p-field">
            <label for="name">Group Name: </label>
            <input id="name" type="text" pInputText formControlName="name">
        </div>
        <br>
        <div class="p-field">
            <label for="description">Description: </label>
            <input id="description" type="text" pInputText formControlName="description">
        </div>
        <br>
        <div class="p-field">
            <label for="groupLead">Group Lead: </label>
            <p-dropdown [options]="groupLeads"
                        [editable]="true"
                        [filter]="true"
                        [virtualScroll]="true"
                        [virtualScrollItemSize]="38"
                        appendTo="body"
                        optionLabel="label"
                        formControlName="groupLead"
                        placeholder="Select a Group Lead"
                        id="groupLead"></p-dropdown>
        </div>
        <br>
        <p-button type="submit" label="Create Group" [disabled]="!groupForm.valid"></p-button>
    </form>
</div>
