<div>
  <div>
    <img id="profile" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="profile">
    @if (!this.isSuccessful) {
      <form name="form" [formGroup]="this.form" (ngSubmit)="this.form.valid && this.onSubmit()">
        <div>
          <label for="register_username">Username</label>
          <input type="text" name="username" formControlName="username" id="register_username" />
          @if (this.form.controls.username.errors?.['required']) {
            <div>Username is required</div>
          }
          @if (this.form.controls.username.errors?.['minlength']) {
            <div>Username must be at least 3 characters</div>
          }
          @if (this.form.controls.username.errors?.['maxlength']) {
            <div>Username must not exceed 20 characters</div>
          }
        </div>
        <div>
          <label for="register_email">Email</label>
          <input type="email" name="email" formControlName="email" id="register_email">
          @if (this.form.controls.email.errors?.['required']) {
            <div>Email is required</div>
          }
          @if (this.form.controls.email.errors?.['email']) {
            <div>Email must be a valid email address</div>
          }
        </div>
        <div>
          <label for="register_password">Password</label>
          <input type="password" name="password" formControlName="password" id="register_password">
          @if (this.form.controls.password.errors?.['required']) {
            <div>Password is required</div>
          }
          @if (this.form.controls.password.errors?.['minlength']) {
          }
        </div>
        <div>
          <button type="submit">Sign up</button>
        </div>

        @if (this.submitted && this.isSignUpFailed) {
          <div>
            Signup failed! <br /> {{ this.errorMessage }}
          </div>
        }
      </form>
    } @else {
      <div>Your registration was successful!</div>
    }
  </div>
</div>
