<p-messages [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>
<p-table [value]="filteredGroups" [paginator]="true" [rows]="10" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th scope="col" pSortableColumn="name">Group Name <p-sortIcon field="name"></p-sortIcon></th>
      <th scope="col" pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-group>
    <tr (click)="viewGroupDetails(group)">
      <td>{{ group.name }}</td>
      <td>{{ group.description }}</td>
      <td>
        <p-button label="Members" (onClick)="members(group); $event.stopPropagation()" icon="pi pi-users"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
