<p-messages [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>
<div class="mb-4">
  <input type="text" pInputText placeholder="Search" (input)="applyFilter($event)" class="mr-2">
  <button type="button" pButton label="Add New Project" icon="pi pi-plus" (click)="createProject()" class="mr-2"></button>
</div>
<p-table [value]="filteredProjects" [paginator]="true" [rows]="10" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col" pSortableColumn="name">Project Name <p-sortIcon field="name"></p-sortIcon></th>
        <th scope="col" pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
        <th scope="col" pSortableColumn="managerId">Manager ID <p-sortIcon field="managerId"></p-sortIcon></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-project>
      <tr (click)="viewProjectDetails(project)">
        <td>{{ project.name }}</td>
        <td>{{ project.description }}</td>
        <td>{{ project.manager }}</td>
        <td>
          <p-button label="Groups" (onClick)="addGroupToProject(project); $event.stopPropagation()" icon="pi pi-users"></p-button>
        </td>
        <td>
          <p-button label="Edit" (onClick)="editProject(project); $event.stopPropagation()" icon="pi pi-pencil"></p-button>
        </td>
        <td>
          <p-button label="Delete" icon="pi pi-trash" (onClick)="deleteProject(project.projectId); $event.stopPropagation()"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>

<p-dialog header="Create Project" [(visible)]="displayCreateDialog" [modal]="true" [style]="{width: '50vw'}" [closable]="true">
  <app-project-create (createComplete)="onCreateCompleted($event)" [projectCreationEvent]="projectCreationEvent"></app-project-create>
</p-dialog>
<p-dialog header="Edit Project" [(visible)]="displayEditDialog" [modal]="true" [style]="{width: '50vw'}" [closable]="true">
  <div *ngIf="selectedProject">
  <app-project-edit [project]="selectedProject" (editComplete)="onEditCompleted($event)"></app-project-edit>
  </div>
</p-dialog>


