<div *ngIf="project">
  <div class="details-card">
    <h1 class="text-xl font-bold mb-4 text-center">Project Details</h1>
  <div class="project-info">
    <p><strong>Name:</strong> {{ project.simpleProjectDto.name }}</p>
    <p><strong>Description:</strong> {{ project.simpleProjectDto.description }}</p>
  </div>

  <div class="manager-details">
    <h3 class="text-xl font-bold mb-2 text-center">Manager Details</h3>
    <br>
    <p><strong>Username:</strong> {{ project.manager.username }}</p>
    <p><strong>Name:</strong> {{ project.manager.firstName }} {{ project.manager.lastName }}</p>
    <p><strong>Email:</strong> {{ project.manager.email }}</p>
  </div>

  <div class="groups-section">
    <h3 class="text-xl font-bold mb-2 text-center">Groups</h3>
    <br>
    <p-table [value]="project.connectedGroups!" [paginator]="true" [rows]="10" responsiveLayout="scroll" class="groups-table">
      <ng-template pTemplate="header">
        <tr>
          <th scope="col">Group Name</th>
          <th scope="col">Group Leader</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-group>
        <tr>
          <td>{{ group.name }}</td>
          <td>{{ group.groupLead}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

    <div class="contributors-section">
      <br>
      <h3 class="text-xl font-bold mb-2 text-center">Contributors</h3>
      <br>
      <p-table [value]="project.contributors!" [paginator]="true" [rows]="10" responsiveLayout="scroll" class="members-table">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" pSortableColumn="username">Benutzername
              <p-sortIcon field="username"></p-sortIcon>
            </th>
            <th scope="col" pSortableColumn="firstName">Vorname
              <p-sortIcon field="firstName"></p-sortIcon>
            </th>
            <th scope="col" pSortableColumn="lastName">Nachname
              <p-sortIcon field="lastName"></p-sortIcon>
            </th>
            <!-- Responsive design may not require these empty headers if properly styled -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
