<div *ngIf="project">
  <h2>Project Details</h2>
  <br>
  <p>Name: {{ project.name }}</p>
  <p>Description: {{ project.description }}</p>
  <br>
  <h3>Manager Details</h3>
  <p>Username: {{ project.manager.username }}</p>
  <p>First Name: {{ project.manager.firstName }}</p>
  <p>Last Name: {{ project.manager.lastName }}</p>
  <p>Email: {{ project.manager.email }}</p>
  <br>
  <h3>Groups</h3>
  <ul>
    <li *ngFor="let group of project.contributors">
      <p>Name: {{ group.name }}</p>
      <p>Grouplead: {{ group.groupLead.firstName }} {{ group.groupLead.lastName}}</p>
    </li>
  </ul>
</div>
