<p-toast position="bottom-right"></p-toast>
<form *ngIf="this.dashboardData" name="form" [formGroup]="this.form" (ngSubmit)="this.onSubmit()"
      class="h-full">
  <div class="w-full lg:px-4 flex justify-between mb-4 lg:mb-0">
    <p-dropdown formControlName="visibility" [options]="this.visibilityOptions" appendTo="body"></p-dropdown>
    <p-button [disabled]="!this.form.valid || !this.form.dirty" type="submit" label="Save changes"></p-button>
  </div>
  <div class="w-full lg:px-4 pb-4 flex justify-center">
    <!-- Status card -->
    <div class="card w-full lg:w-1/2">
      <div class=" text-center text-3xl lg:text-4xl !border-b-1 !border-black">Status</div>
      <div class="flex justify-around">
        <div class="pl-2 pt-12 text-lg lg:text-4xl">{{ DisplayHelper.showState | wrapFn: this.dashboardData.state }}
        </div>
        <div class="pr-2 pt-4 text-lg">Since: {{ this.dashboardData.stateTimestamp | date: 'HH:mm' }}<br>
          <p-dropdown formControlName="project" [options]="this.dashboardData.availableProjects"
                      optionLabel="projectName"
                      placeholder="Select project"
                      appendTo="body"></p-dropdown>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap w-full">
    <div class="w-full lg:w-1/2 flex flex-wrap">
      <div class="w-1/2 h-1/2 py-4 pr-4 lg:p-4">
        <app-measurement [sensorType]="SensorType.TEMPERATURE" [measurement]="this.dashboardData.temperature"
                         [highHints]="tempHighHints" [lowHints]="tempLowHints"></app-measurement>
      </div>
      <div class="w-1/2 h-1/2 py-4 pl-4 lg:p-4">
        <app-measurement [sensorType]="SensorType.HUMIDITY" [measurement]="this.dashboardData.humidity"
                          [highHints]="humidityHighHints" [lowHints]="humidityLowHints"></app-measurement>
      </div>
      <div class="w-1/2 h-1/2 py-4 pr-4 lg:p-4">
        <app-measurement [sensorType]="SensorType.IRRADIANCE" [measurement]="this.dashboardData.irradiance"
                          [highHints]="irradianceHighHints" [lowHints]="irradianceLowHints"></app-measurement>
      </div>
      <div class="w-1/2 h-1/2 py-4 pl-4 lg:p-4">
        <app-measurement [sensorType]="SensorType.NMVOC" [measurement]="this.dashboardData.nmvoc"
                          [qualityHints]="qualityHints"></app-measurement>
      </div>
    </div>
    <!-- Colleague state table -->
    <div class="w-full lg:w-1/2 lg:p-4">
      <div class="card h-full">
        <p-table #table [value]="this.dashboardData.colleagueStates ?? []" [rows]="5" [paginator]="true"
                 [globalFilterFields]="colleagueTableFilterFields">
          <ng-template pTemplate="caption">
            <div class="flex">
              <input
                class="ml-auto"
                pInputText
                type="text"
                (input)="table.filterGlobal($any($event.target).value, 'contains')"
                placeholder="Search keyword" />
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th id="name">Name</th>
              <th id="workplace">Workplace</th>
              <th id="state">State</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-colleague>
            <tr>
              <td>{{ colleague.name }}</td>
              <td>{{ colleague.workplace }}</td>
              <td>
                <p-tag [value]="DisplayHelper.showColleagueState | wrapFn: colleague"
                       [severity]="DisplayHelper.getColleagueStateSeverity | wrapFn : colleague"></p-tag>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</form>
