:host ::ng-deep .p-button.p-button-icon-only.p-button-rounded {
  height: 0.5rem;
  width: 1.5rem;
}

:host ::ng-deep .pi.pi-question {
  font-size: 0.8rem;
}

@media (min-width: 1024px) {
  :host ::ng-deep .p-button.p-button-icon-only.p-button-rounded {
    height: 3rem;
    width: 3rem;
  }

  :host ::ng-deep  .pi.pi-question {
    font-size: 1rem;
  }
}

h3 {
  color: var(--primary-color-text);
  background: var(--primary-color);
  border-radius: var(--border-radius);
  padding: 1rem;
  text-align: center;
  margin: 0 auto;
  width: 25%;
}
