<div class="flex flex-col w-full">
  <div class="text-center text-4xl">Your Groups</div>
  <div class="flex flex-wrap justify-center mt-4">
    <div class="w-full md:w-1/2 p-2" *ngFor="let group of filteredGroups">
      <div class="card shadow-lg rounded-lg" (click)="viewGroupDetails(group)" style="background-color: var(--surface-card);">
        <div class="p-4">
          <div class="text-xl font-bold">{{ group.name }}</div>
          <br>
          <p class="mt-1">{{ group.description }}</p>
          <br>
        </div>
        <div class="flex justify-around p-4 border-t">
          <button pButton type="button" label="Members" icon="pi pi-users" (click)="members(group); $event.stopPropagation()"></button>
          <button pButton type="button" label="Projects" icon="pi pi-folder-open" (click)="projects(group); $event.stopPropagation()"></button>
        </div>
      </div>
    </div>
  </div>
</div>
