<p-toast></p-toast>
<p-table #table [value]="timetableData?.tableEntries ?? []" [globalFilterFields]="filterFields"
         (onFilter)="calculateTotalTime()">
  <ng-template pTemplate="header">
    <tr>
      <th id="date" pSortableColumn="startTimestamp">Date
        <p-sortIcon field="startTimestamp"></p-sortIcon>
      </th>
      <th id="start">Start</th>
      <th id="end">End</th>
      <th id="project">Project
      </th>
      <th id="state">State</th>
      <th id="description">Description</th>
      <th id="blank1"></th>
    </tr>
    <tr>
      <th id="timeFilter">
        <p-columnFilter type="text" field="startTimestamp" matchMode="contains" placeholder="Search"></p-columnFilter>
      </th>
      <th id="blank2"></th>
      <th id="blank3"></th>
      <th id="projectFilter">
        <p-columnFilter field="assignedProject.id" [showMenu]="false"
                        [showClearButton]="false">
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-dropdown
              [options]="timetableData?.availableProjects ?? []" [showClear]="true"
              (onChange)="filter($event.value?.id)"
              optionLabel="name" appendTo="body" placeholder="Select one"></p-dropdown>
          </ng-template>
        </p-columnFilter>
      </th>
      <th id="stateFilter">
        <p-columnFilter field="state" [showMenu]="false" [showClearButton]="false">
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-dropdown [options]="stateOptions"
                        [showClear]="true"
                        (onChange)="filter($event.value)"
                        optionLabel="value"
                        appendTo="body"
                        placeholder="Select one">
              <ng-template let-option pTemplate="item">
                <div class="flex">
                  <p-tag [value]="DisplayHelper.showState | wrapFn: option"
                         [severity]="DisplayHelper.getStateSeverity | wrapFn: option"></p-tag>
                </div>
              </ng-template>
              <ng-template let-option pTemplate="selectedItem">
                <div class="flex">
                  <p-tag [value]="DisplayHelper.showState | wrapFn: option"
                         [severity]="DisplayHelper.getStateSeverity | wrapFn: option"></p-tag>
                </div>
              </ng-template>

            </p-dropdown>
          </ng-template>
        </p-columnFilter>
      </th>
      <th id="blank4"></th>
      <th id="blank5"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-timeEntry let-rowIndex="rowIndex">
    <tr>
      <td>{{ timeEntry.startTimestamp | date: 'fullDate' }}</td>
      <td>{{ timeEntry.startTimestamp | date: 'HH:mm' }}</td>
      <td>{{ timeEntry.endTimestamp | date: 'HH:mm' }}</td>
      <td>
        <p-dropdown [options]="timetableData?.availableProjects" [(ngModel)]="timeEntry.assignedProject"
                    (onChange)="updateProject($event.value, timeEntry.id)"
                    optionLabel="name"
                    placeholder="Select project"
                    appendTo="body"></p-dropdown>
      </td>
      <td>
        <p-tag [value]="DisplayHelper.showState | wrapFn: timeEntry.state"
               [severity]="DisplayHelper.getStateSeverity | wrapFn: timeEntry.state"></p-tag>
      </td>
      <td (click)="onEditDescription(rowIndex)" class="cursor-pointer" (keydown)="onEditDescription(rowIndex)"
          [tabindex]="rowIndex">{{ timeEntry.description }}
      </td>
      <td>
        <p-button (onClick)="this.onOpenSplitForm(rowIndex);op.toggle($event)">
          <i class="pi pi-pencil"></i>
        </p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- Split time record dialog -->
<p-overlayPanel #op (onHide)="splitForm.reset()">
  <form [formGroup]="splitForm" (ngSubmit)="this.splitForm.valid && this.onSplitFormSubmit()">
    <div class="text-lg pb-2"><strong>Split time record at:</strong></div>
    <p-calendar formControlName="time" class="pr-2"
                [showTime]="true"
                hourFormat="24"
                [minDate]="(timetableData?.tableEntries?.[selectedRowIndex]?.startTimestamp!) | stringToDate"
                [maxDate]="(timetableData?.tableEntries?.[selectedRowIndex]?.endTimestamp!) | stringToDate"
    ></p-calendar>
    <p-message *ngIf="this.splitForm.controls.time.errors?.['notInRange'] && this.splitForm.touched"
               text="Time needs to be between start and end of existing time record" severity="error"
               styleClass="my-2"></p-message>
    <p-button label="Confirm" type="submit" [disabled]="!this.splitForm.valid"></p-button>
  </form>
</p-overlayPanel>
<div>{{ "The total worked time with the current filters is " + this.totalTime.hours + " hours and " + this.totalTime.minutes + " minutes." }}</div>

<!-- Edit description dialog -->
<p-dialog [(visible)]="this.editDescriptionVisible" header="Edit description:"
          [modal]="true" class="w-2/3"
          (onHide)="this.descriptionForm.reset()">
  <form [formGroup]="descriptionForm" class="flex flex-col"
        (ngSubmit)="this.descriptionForm.value && this.onDescriptionFormSubmit()">
    <textarea type="text" pInputTextarea formControlName="description"></textarea>
    <p-button label="Save" type="submit" [disabled]="!this.descriptionForm.dirty" class="pt-2"></p-button>
  </form>
</p-dialog>

