<div *ngIf="group">
  <div class="details-card">

    <p-card header="Group Details">
      <div class="flex justify-between">
        <div class="flex-content">
          <h3><strong>General Group Details</strong></h3>
          <br>
          <p><strong>Name:</strong> {{ group.name }}</p>
          <p><strong>Description:</strong> {{ group.description }}</p>
        </div>
        <div class="flex-content">
          <h3><strong>Manager Details</strong></h3>
          <br>
          <p><strong>Username:</strong> {{ group.groupLead.username }}</p>
          <p><strong>Name:</strong> {{ group.groupLead.firstName }} {{ group.groupLead.lastName }}</p>
          <p><strong>Email:</strong>{{ group.groupLead.email }}</p>
        </div>
        <div class="flex-content pr-10">
          <p-button label="Edit" (onClick)="editGroup()" icon="pi pi-pencil"></p-button>
        </div>
      </div>
    </p-card>


    <div *ngIf="simpleEditGroup">
      <p-dialog header="Edit Group" [(visible)]="displayEditDialog" [modal]="true" [style]="{width: '50vw'}"
                [closable]="true">
        <app-group-edit [group]="simpleEditGroup" (editComplete)="onEditCompleted($event)"></app-group-edit>
      </p-dialog>
    </div>

    <div class="members-section">
      <p-panel>
        <ng-template pTemplate="header">
          <div class="flex flex-wrap align-items-center justify-content-between gap-3">
              <span class="font-bold">
                Members
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="icons">
          <p-button class="right-align-button" (onClick)="switchToGroupMembers()" label="Edit Group Members">
          </p-button>
        </ng-template>
        <p-table [value]="members" [paginator]="true" [rows]="10" responsiveLayout="scroll" class="members-table">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col" pSortableColumn="username">Username
                <p-sortIcon field="username"></p-sortIcon>
              </th>
              <th scope="col" pSortableColumn="firstName">First Name
                <p-sortIcon field="firstName"></p-sortIcon>
              </th>
              <th scope="col" pSortableColumn="lastName">Last Name
                <p-sortIcon field="lastName"></p-sortIcon>
              </th>
              <!-- Responsive design may not require these empty headers if properly styled -->
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr>
              <td>{{ user.username }}</td>
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-panel>
    </div>
    <br>
    <br>
    <div class="associatedProjects-section">
      <p-panel>
        <ng-template pTemplate="header">
          <div class="flex flex-wrap align-items-center justify-content-between gap-3">
              <span class="font-bold">
                Associated Projects
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="icons">
          <p-button class="right-align-button" (onClick)="switchToProjectManagement()" label="Go to Project Management">
          </p-button>
        </ng-template>
        <p-table [value]="associatedProjects" [paginator]="true" [rows]="10" responsiveLayout="scroll"
                 class="project-table">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col" pSortableColumn="name">Project
                <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th scope="col" pSortableColumn="description">Description
                <p-sortIcon field="description"></p-sortIcon>
              </th>
              <th scope="col" pSortableColumn="manager">Manager
                <p-sortIcon field="manager"></p-sortIcon>
              </th>
              <th></th>
              <!-- Responsive design may not require these empty headers if properly styled -->
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-project>
            <tr>
              <td>{{ project.name }}</td>
              <td>{{ project.description }}</td>
              <td>{{ project.manager }}</td>
              <td>
                <button (click)="switchToProject(project.projectId)">
                <span class="pi pi-search-plus" pTooltip="Go to Project" tooltipPosition="bottom">
                </span>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-panel>
    </div>
  </div>
