<div *ngIf="group">
  <div class="details-card">
    <h1 class="text-2xl font-bold mb-4">Group Details</h1>
    <div class="group-info">
      <p><strong>Name:</strong> {{ group.name }}</p>
      <p><strong>Description:</strong> {{ group.description }}</p>
      <br>
    </div>
    <div class="manager-details">
      <h3><strong>Manager Details</strong></h3>
      <br>
      <p><strong>Username:</strong> {{ group.groupLead.username }}</p>
      <p><strong>Name:</strong> {{ group.groupLead.firstName }} {{ group.groupLead.lastName }}</p>
      <p><strong>Email:</strong>{{ group.groupLead.email }}</p>
    </div>

    <div class="members-section">
      <p-panel header="Members" [toggleable]="true">
      <p-table [value]="members" [paginator]="true" [rows]="10" responsiveLayout="scroll" class="members-table">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" pSortableColumn="username">Username
              <p-sortIcon field="username"></p-sortIcon>
            </th>
            <th scope="col" pSortableColumn="firstName">First Name
              <p-sortIcon field="firstName"></p-sortIcon>
            </th>
            <th scope="col" pSortableColumn="lastName">Last Name
              <p-sortIcon field="lastName"></p-sortIcon>
            </th>
            <!-- Responsive design may not require these empty headers if properly styled -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
          </tr>
        </ng-template>
      </p-table>
      </p-panel>
    </div>
    <br>
    <br>
    <div class="associatedProjects-section">
      <p-panel header="Associated Projects" [toggleable]="true">
        <ng-template pTemplate="header">
          <div class="flex flex-wrap align-items-center justify-content-between gap-3">
            <div class="flex align-items-center gap-2">
              <p-button icon="pi pi-user" [rounded]="true" [text]="true" />
              <p-button icon="pi pi-bookmark" severity="secondary" [rounded]="true" [text]="true" />
            </div>
          </div>
        </ng-template>
      <p-table [value]="associatedProjects" [paginator]="true"  [rows]="10" responsiveLayout="scroll" class="project-table">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" pSortableColumn="name">Project
              <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th scope="col" pSortableColumn="description">Description
              <p-sortIcon field="description"></p-sortIcon>
            </th>
            <th scope="col" pSortableColumn="manager">Manager
              <p-sortIcon field="manager"></p-sortIcon>
            </th>
            <!-- Responsive design may not require these empty headers if properly styled -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-project>
          <tr>
            <td>{{ project.name }}</td>
            <td>{{ project.description }}</td>
            <td>{{ project.manager }}</td>
          </tr>
        </ng-template>
      </p-table>
      </p-panel>
    </div>
  </div>
</div>
