


.group-info p, .manager-details p {
}

.group-info p {
}

.manager-details {
  /*padding-top: 20px;*/
}

.edit-button {
  /*display: inline-block;*/
  /*width: 30%;*/
  /*box-sizing: border-box;*/
}
.members-section {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-top: 20px;
}

.members-table th {
  text-align: left;
}

.members-table td {
  padding: 8px;
}

.right-align-button {
  margin-left: auto;
}

@media (max-width: 768px) {
  .group-details-card {
    padding: 10px;
  }
}
