.room-details {
  margin: 20px;
}

.room-details-card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.room-info {
  margin-bottom: 20px;
}

.room-info-item {
  margin-bottom: 10px;
}

.access-point {
  margin-bottom: 20px;
}

.access-point-item {
  margin-bottom: 10px;
}

.access-point-table {
  margin-bottom: 20px;
}

.thresholds-title {
  margin-bottom: 10px;
}

.thresholds-table {
  margin-bottom: 20px;
}
