<div class="card h-full grid place-items-center text-base lg:text-3xl relative">
  <p-button (onClick)="openHints()" icon="pi pi-question" class="absolute left-2 top-2 lg:left-8 lg:top-6"
            [rounded]="true" [severity]="measurement.quality | measurementColor"
            pTooltip="Recommendations" tooltipPosition="left">
  </p-button>
  <ng-container [ngSwitch]="sensorType">
    <div *ngSwitchCase="SensorType.TEMPERATURE">Temperature:</div>
    <div *ngSwitchCase="SensorType.HUMIDITY">Humidity:</div>
    <div *ngSwitchCase="SensorType.IRRADIANCE">Brightness:</div>
    <div *ngSwitchCase="SensorType.NMVOC">Air quality:</div>
  </ng-container>
  <div *ngIf="sensorType === SensorType.NMVOC; else withUnit">
    {{ measurement.quality | airQuality }}
  </div>
  <ng-template #withUnit>
    <div>{{ measurement.value }} {{ getUnit | wrapFn: sensorType }}</div>
  </ng-template>
</div>
