<div>
<form [formGroup]="temperaForm" (ngSubmit)="onSubmit()">
  <div class="p-field">
    <label for="user">User: </label>
    <p-dropdown [options]="users "
                [editable]="true"
                [filter]="true"
                [virtualScroll]="true"
                [virtualScrollItemSize]="38"
                appendTo="body"
                optionLabel="label"
                formControlName="user"
                placeholder="Select a User"
                id="user"></p-dropdown>
  </div>
  <br>
  <div class="p-field">
    <label>Enabled
    <input type="checkbox" formControlName="enabled">
    </label>
  </div>
  <br>
  <p-button type="submit" label="Create"></p-button>
</form>
</div>

