<p-messages [value]="messages"></p-messages>
<div class="flex items-center justify-center min-h-screen min-w-screen overflow-hidden" style="background-color: var(--surface-ground);">
  <div
    style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
    <div class="w-full py-20 px-8 sm:px-20 flex flex-col items-center justify-center"
         style="border-radius:53px; background-color: var(--surface-card);">
      <h1 class="text-4xl bold mb-8">User Validation</h1>

      <div *ngIf="!validated">
        <form #validateForm="ngForm" (ngSubmit)="validateUser(validateForm.value.username, validateForm.value.token)"
              class="w-full flex flex-col items-center">
          <label for="username" class="text-2xl inline-block">Username</label>
          <input pInputText placeholder="Username" type="text" id="username" name="username" ngModel required
                 class="block w-full md:w-96 p-inputtext-sm" />

          <label for="token" class="text-2xl mt-6 inline-block">Token</label>
          <input pInputText placeholder="Token" type="text" id="token" name="token" ngModel required
                 class="block w-full md:w-96 p-inputtext-sm" />

          <p-button type="submit" label="Validate" [disabled]="!validateForm.valid" styleClass="w-full mt-8"></p-button>
        </form>
      </div>

      <div *ngIf="validated && !enabled">
        <form #passwordForm="ngForm"
              (ngSubmit)="setPassword(passwordForm.value.password, passwordForm.value.passwordRepeat)"
              class="w-full flex flex-col items-center">
          <label for="password" class="text-2xl inline-block">New Password</label>
          <input pInputText placeholder="New Password" type="password" id="password" name="password" ngModel required
                 minlength="6" class="block w-full md:w-96 p-inputtext-sm" />

          <label for="passwordRepeat" class="text-2xl mt-6 inline-block">Repeat New Password</label>
          <input pInputText placeholder="Repeat New Password" type="password" id="passwordRepeat" name="passwordRepeat"
                 ngModel required minlength="6" class="block w-full md:w-96 p-inputtext-sm" />

          <p-button type="submit" label="Set Password" [disabled]="!passwordForm.valid"
                    styleClass="w-full mt-8"></p-button>
        </form>
      </div>

      <div *ngIf="enabled">
        <h2 class="text-2xl">Password set successfully!</h2>
        <p-button label="Login" routerLink="/login" styleClass="mt-8"></p-button>
      </div>
    </div>
  </div>
</div>
