<div class="flex items-center justify-center min-h-screen min-w-screen overflow-hidden" style="background-color: var(--surface-ground);">
  <div
    style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
    <div class="w-full py-20 px-8 sm:px-20 flex flex-col items-center justify-center"
         style="border-radius:53px; background-color: var(--surface-card);">
      <h1 class="text-4xl bold mb-8">Login</h1>
      <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="profile" width="200px"
           class="flex-col mb-8" />
      @if (!isLoggedIn) {
        <form name="form" [formGroup]="this.form" (ngSubmit)="this.form.valid && this.onSubmit()">
          <!--  Username Input-->
          <label for="username" class="text-2xl inline-block">Username</label>
          <input pInputText placeholder="Username" type="text" name="username" formControlName="username" id="username"
                 class="block w-full md:w-96" />
          <p-message *ngIf="this.form.controls.username.errors?.['required'] && this.form.controls.username.touched"
                     [text]="'Username is required!'"
                     severity="error" styleClass="w-full mt-2"></p-message>

          <!--  Password Input  -->
          <label for="password" class="text-2xl mt-6 inline-block">Password</label>
          <input pInputText placeholder="Password" type="password" name="password" formControlName="password"
                 id="password" class="block w-full md:w-96" />
          <p-message *ngIf="this.form.controls.password.errors?.['required'] && this.form.controls.password.touched"
                     [text]="'Password is required!'"
                     severity="error" styleClass="w-full mt-2"></p-message>
          <!--  Submit  -->
          <p-button [disabled]="!this.form.valid" styleClass="w-full mt-8" type="submit" label="Login"></p-button>
          <p-message *ngIf="this.submitted && this.isLoginFailed" [text]="errorMessage" severity="error"></p-message>
        </form>
      } @else {
        <div>Logged in as {{ roles }}</div>
      }
    </div>
  </div>
</div>
